= form_for @new_parcel do |f|
  = f.text_field :barcode,
                  placeholder: 'введите номер посылки',
                  required: true,
                  maxlength: 14,
                  pattern: '(^[A-Za-z]{2}\d{9}[A-Za-z]{2}$)|(^\d{14}$)',
                  class: 'parcel-form-barcode',
                  autofocus: true