html, body
  height: 100%

body
  @include polka-dot($background, $background-accent, 15px, 40px)

.wrapper
  width: 770px
  margin: 0 auto
  min-height: 100%

.main
  overflow: auto
  padding-bottom: 60px

.footer
  height: 60px
  margin-top: -60px

.paper
  margin-top: 40px