h1 {
  margin: 0;
  font-size: 33px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}


.parcel > div {
  padding: 14px;
}

.parcel-barcode {
  width: 350px;
  text-align: center;
  vertical-align: middle;
}

.disclaimer {
  border: 1px solid #000;
  border-top: none;
  padding: 10px 0 13px;
  text-align: center;
}
