$footer-color: #ccc;

.footer {
  margin-top: 10px;
  font-size: 12px;
  color: $footer-color;

  a {
    color: $footer-color;

    &:hover {
      color: shade($footer-color, 30%);
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.footer-link {
  display: inline-block;
  
  &:after {
    content: '\00b7';
    margin: 0 5px;
  }

  &:last-child:after {
    content: '';
    margin: 0;
  }
}
