.head {
  height: 55px;

  & > div {
    vertical-align: middle;
  }
}

.head-logo {
  font-size: 33px;
  font-weight: bold;
  padding: 0 !important;
  text-align: center;
  width: 150px;

  a {
    color: #000;
    text-decoration: none;
  }
}

.head-caption {
  width: 200px;
  padding-right: 50px !important;
  padding-left: 14px !important;
}

.head-search {
  padding: 0 !important;

  form {
    height: 100%;
  }

  &.is-link {
    font-size: 18px;
  }
}