.operations {
  border: 1px solid #000;
  width: 100%;

  th, td {
    padding: 3px 5px 4px;
  }
}

.operation-type {
  width: 120px;
}

.operation-date {
  width: 80px;
}

.operation-time {
  width: 60px;
}

.operation-zip {
  width: 90px;
}

.operation-place {
  text-transform: uppercase;
  width: 160px;
}

.operation-comment {
  width: 150px;
}

.operation-mass {
  text-align: right;
}
