.operation {
  border-bottom: 1px solid #e0e1e2;
  padding: 20px 0;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  div {
    display: inline-block;
    vertical-align: top;
  }
}

.operation-date {
  @include display-font;
  text-align: right;
  width: 43px;
  font-size: 21px;
  margin-top: -4px;
  margin-right: 20px;
}

.operation-description {
  width: 260px;
  margin-right: 20px;
}

.operation-place {
  width: 355px;
  margin-right: 20px;
}
