.parcel-form-barcode
  width: 100%
  height: 100%
  border: none
  font-size: 27px
  color: #0057bd
  text-transform: uppercase
  padding: 3px 8px 4px
  background: image-url('return.png') no-repeat
  background-position: 340px 18px

  @include placeholder
    color: $pale
    text-transform: none

  &:focus
    outline: none
    // background-color: tint(#0057bd, 95%)