// Fonts
$text: 'proxima-nova';
$display: 'proxima-nova-extra-condensed';

@mixin text-font {
  font-family: $text;
  font-weight: 400;
}

@mixin display-font {
  font-family: $display;
  font-weight: 600;
  text-transform: uppercase;
}

// Colors
$accent: #fff000;
