@import 'bourbon';
@import 'normalize-rails/normalize';
@import 'glyphicons';

@import 'config';
@import 'forms';

@import 'layouts/parcel_layout';

@import 'modules/head';
@import 'modules/operation';
@import 'modules/footer';

* {
  @include box-sizing(border-box);
}

body {
  font-family: $helvetica;
  font-size: 14px;
  background-color: #91855e;
}

.wrapper {
  width: 770px;
  margin: 50px auto;
}

.paper {
  padding: 20px;
  background: #fff;
  width: 100%;

  &.is-home {
    margin-top: 25%;
  }
}

.table, table {
  border-collapse: collapse;
  width: 100%;
  display: table;
  margin-bottom: -1px;
}

.cell, td, th {
  display: table-cell;
  border: 1px solid #000;
  vertical-align: top;
  padding: 7px 10px 8px;
}

th {
  text-align: left;
}

a {
  color: #0057bd;

  &:hover {
    color: shade(#0057bd, 20%);
  }
}
